<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean class="com.yan.service.impl.UserServiceImpl" id="UserService">
        <property name="userDao" ref="UserDao"/>
    </bean>
    <bean id="UserDao" class="com.yan.dao.impl.UserDaoImpl"></bean>


</beans>