<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>修改用户</title>

        <link href="css/bootstrap.min.css" rel="stylesheet">
        <script src="js/jquery-2.1.0.min.js"></script>
        <script src="js/bootstrap.min.js"></script>


    </head>
    <body>
        <div class="container" style="width: 400px;" >
        <h3 style="text-align: center;">修改用户</h3>
        <form action="/day05/update" method="post">
      <div class="form-group">
        <label for="name">姓名：</label>
        <input type="text" class="form-control" id="name" name="name"  readonly="readonly" v-model="linkman.name" placeholder="请输入姓名" />
      </div>

      <div class="form-group">
        <label>性别：</label>
          <input type="radio" name="sex" v-model="linkman.sex" value="男"  />男
    		<input type="radio" name="sex" v-model="linkman.sex" value="女"  />女
      </div>
      
      <div class="form-group">
        <label for="age">年龄：</label>
        <input type="text" class="form-control" id="age" v-model="linkman.age"  name="age" placeholder="请输入年龄" />
      </div>

      <div class="form-group">
        <label for="address">籍贯：</label>
	     <select name="address" v-model="linkman.address" class="form-control" >
	        <option value="广东">广东</option>
	        <option value="广西">广西</option>
	        <option value="湖南">湖南</option>
        </select>
      </div>
      
      <div class="form-group">
        <label for="qq">QQ：</label>
        <input type="text" class="form-control" name="qq" v-model="linkman.qq" placeholder="请输入QQ号码"/>
      </div>

      <div class="form-group">
        <label for="email">Email：</label>
        <input type="text" class="form-control" name="email" v-model="linkman.email" placeholder="请输入邮箱地址"/>
      </div>

         <div class="form-group" style="text-align: center">
			<input class="btn btn-primary" type="button" @click="save" value="提交" />
			<input class="btn btn-default" type="reset" value="重置" />
			<input class="btn btn-default" type="button" value="返回"/>
         </div>
        </form>

        </div>
    </body>
<script src="js/vuejs-2.5.16.js"></script>
<script src="js/axios-0.18.0.js"></script>
<script src="js/getParameter.js"></script>
<script>
    let v = new Vue({
        el:".container",
        data:{
            linkman:{id:getParameter("id")}
        },
        created:function () {
            axios.get("./Linkman?method=findById&id=" + this.linkman.id).then(response => {
                if (response.data.flag){
                    this.linkman = response.data.result;
                } else {
                    alert(response.data.message);
                }
            })
        },
        methods:{
            save:function () {
                axios.post("./Linkman?method=update",this.linkman).then(response => {
                    if (response.data.flag){
                        location.href = "list.html";
                    } else {
                        alert(response.data.message);
                    }
                })
            }
        }
    });
</script>
</html>